a {
  color: #428bca;
  text-decoration: none;
}

a {
  color: #3277b3;
  text-decoration: none;
}

.btn-default {
  color: #333;
  background-color: #000;
  border-color: #ccc;
}

input {
	background-color: #000;
}

.glb-page {
    background-color: #000000;
}

body {
    background: #000000;
}