<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controllers.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>controllers.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSettingsServlet</servlet-name>
        <servlet-class>controllers.AccountSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>controllers.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>controllers.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteStatisticsServlet</servlet-name>
        <servlet-class>controllers.SiteStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>controllers.WishlistServlet</servlet-class>
        <init-param>
            <param-name>included-resource</param-name>
            <param-value>/wishlist.jsp</param-value>
        </init-param>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>controllers.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemReserveServlet</servlet-name>
        <servlet-class>controllers.ItemReserveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFullCatalogServlet</servlet-name>
        <servlet-class>controllers.CustomerFullCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBookDescriptionServlet</servlet-name>
        <servlet-class>controllers.UserBookDescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAverageRatingServlet</servlet-name>
        <servlet-class>controllers.UpdateAverageRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForItemServlet</servlet-name>
        <servlet-class>controllers.SearchForItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitItemReviewServlet</servlet-name>
        <servlet-class>controllers.SubmitItemReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSettingsServlet</servlet-name>
        <url-pattern>/AccountSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteStatisticsServlet</servlet-name>
        <url-pattern>/SiteStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type >
        <location>/ErrorHandler</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ItemReserveServlet</servlet-name>
        <url-pattern>/ItemReserveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFullCatalogServlet</servlet-name>
        <url-pattern>/CustomerFullCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBookDescriptionServlet</servlet-name>
        <url-pattern>/UserBookDescriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAverageRatingServlet</servlet-name>
        <url-pattern>/UpdateAverageRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForItemServlet</servlet-name>
        <url-pattern>/SearchForItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitItemReviewServlet</servlet-name>
        <url-pattern>/SubmitItemReviewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/glbdb</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
