<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>doNotReplyEmail</param-name>
        <param-value>donotreplyglb@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>doNotReplyPass</param-name>
        <param-value>donotreplyglb308</param-value>
    </context-param>
    <context-param>
        <param-name>supportEmail</param-name>
        <param-value>goodlooksbookshelp@gmail.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.glb.controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.glb.controllers.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>com.glb.controllers.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDescriptionServlet</servlet-name>
        <servlet-class>com.glb.controllers.BookDescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteStatisticsServlet</servlet-name>
        <servlet-class>com.glb.controllers.SiteStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>com.glb.controllers.WishlistServlet</servlet-class>
        <init-param>
            <param-name>included-resource</param-name>
            <param-value>/wishlist.jsp</param-value>
        </init-param>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SecondServerServlet</servlet-name>
        <servlet-class>com.glb.controllers.SecondServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.glb.controllers.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.glb.controllers.SearchServlet</servlet-class>
        <init-param>
            <param-name>included-resource</param-name>
            <param-value>/fullCatalog.jsp</param-value>
        </init-param>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SecondServerResponseServlet</servlet-name>
        <servlet-class>com.glb.controllers.SecondServerResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMyItemsServlet</servlet-name>
        <servlet-class>com.glb.controllers.UserMyItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailItemServlet</servlet-name>
        <servlet-class>com.glb.controllers.EmailItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.glb.controllers.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactSupportServlet</servlet-name>
        <servlet-class>com.glb.controllers.ContactSupportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemReviewServlet</servlet-name>
        <servlet-class>com.glb.controllers.ItemReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublisherEditItemsServlet</servlet-name>
        <servlet-class>com.glb.controllers.PublisherEditItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRespondToTicketsServlet</servlet-name>
        <servlet-class>com.glb.controllers.AdminRespondToTicketsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountManagementServlet</servlet-name>
        <servlet-class>com.glb.controllers.AdminAccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanItemServlet</servlet-name>
        <servlet-class>com.glb.controllers.BanItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.glb.controllers.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.glb.controllers.CustomerServlet</servlet-class>
        <init-param>
            <param-name>included-resource</param-name>
            <param-value>/customerIndex.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AccessibilityServlet</servlet-name>
        <servlet-class>com.glb.controllers.AccessibilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllSubjectsServlet</servlet-name>
        <servlet-class>com.glb.controllers.AllSubjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortItemsServlet</servlet-name>
        <servlet-class>com.glb.controllers.SortItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemAccessServlet</servlet-name>
        <servlet-class>com.glb.controllers.ItemAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoldsServlet</servlet-name>
        <servlet-class>com.glb.controllers.HoldsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemSettingsServlet</servlet-name>
        <servlet-class>com.glb.controllers.ItemSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDescriptionServlet</servlet-name>
        <url-pattern>/BookDescriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteStatisticsServlet</servlet-name>
        <url-pattern>/SiteStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServerServlet</servlet-name>
        <url-pattern>/SecondServerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServerResponseServlet</servlet-name>
        <url-pattern>/SecondServerResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMyItemsServlet</servlet-name>
        <url-pattern>/UserMyItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailItemServlet</servlet-name>
        <url-pattern>/EmailItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactSupportServlet</servlet-name>
        <url-pattern>/ContactSupportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemReviewServlet</servlet-name>
        <url-pattern>/ItemReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublisherEditItemsServlet</servlet-name>
        <url-pattern>/PublisherEditItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRespondToTicketsServlet</servlet-name>
        <url-pattern>/AdminRespondToTicketsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountManagementServlet</servlet-name>
        <url-pattern>/AdminAccountManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanItemServlet</servlet-name>
        <url-pattern>/BanItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessibilityServlet</servlet-name>
        <url-pattern>/AccessibilityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllSubjectsServlet</servlet-name>
        <url-pattern>/AllSubjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortItemsServlet</servlet-name>
        <url-pattern>/SortItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemAccessServlet</servlet-name>
        <url-pattern>/ItemAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoldsServlet</servlet-name>
        <url-pattern>/HoldsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemSettingsServlet</servlet-name>
        <url-pattern>/ItemSettingsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/glbdb</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
