<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.blb.controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyItemServlet</servlet-name>
        <servlet-class>com.blb.controllers.BuyItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.blb.controllers.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.blb.controllers.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBuyItemServlet</servlet-name>
        <servlet-class>com.blb.controllers.ConfirmBuyItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyItemServlet</servlet-name>
        <url-pattern>/BuyItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBuyItemServlet</servlet-name>
        <url-pattern>/ConfirmBuyItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
